.devsock {
  color: var(--letter-color);
  position: absolute;
}

.blur {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
}

.send-email {
  width: 40rem;
  height: 47rem;
  background-color: var(--login-color);
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--letter-color);
  border: 2px solid var(--letter-color);
  box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 5%;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateX(-0.5rem);
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 100;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
