.login {
  width: 40rem;
  height: auto;
  background-color: var(--login-color);
  text-align: center;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  color: var(--letter-color);
  border: 2px solid var(--letter-color);
  box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1.6rem 0;
}

.btn-forgot {
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  width: 55%;
  cursor: pointer;
  background-color: var(--input-color);
  font-size: 1.4rem;

  &:hover {
    text-decoration: none;
  }
}

.oauth {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

.oauth hr {
  width: 100%;
}

.form-oauth {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
  align-items: center;

  .github {
    background-color: var(--black-color);
    border-radius: 1rem;
    color: var(--white-color);
  }

  .google {
    border: 0.5px solid var(--black-color);
    border-radius: 1rem;
  }
}

.form-oauth .google:hover {
  background-color: var(--letter-color);
}

.form-oauth .github:hover {
  background-color: #090909;
}

.form-oauth .btn-auth {
  padding: 1rem 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  border: none;
}
