@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

:root{
  --letter-color: #d6d4d7;
  --login-color: #222122;
  --primary-color: #23deca;
  --input-color: #e9e9e9;
  --input-disabled: #ffffff;
  --black-color: #000000;
  --white-color: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  font-family: 'Changa One', sans-serif;
  font-weight: 100;
  letter-spacing: .02rem;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

input{
  outline: none;

  &:disabled{
    background-color: var(--input-disabled);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.wrapper {
  background: url('/register.svg') center/cover no-repeat;
  height: 100vh;
  opacity: 0.9;
  position: relative;
  padding: 1rem;
}

.devsock {
  color: var(--letter-color);
  position: absolute;
}

.blur {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.component{
  width: 60%;
  height: 3.5rem;
  border-radius: .6rem;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--letter-color);
  cursor: pointer;
}

.component:disabled{
  border: 2px solid var(--letter-color);
  cursor: auto;
  color: #969696;
}

.input {
  padding: 1.2rem 0.7rem;
  width: 75%;
  outline: none;
  border: 1px solid var(--letter-color);
  border-radius: 0.4rem;
  background-color: var(--input-color);
}

.l_google {
  width: 2.5rem;
  height: 2.5rem;
}

.l_github {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1);
}


/*modal*/
.mat-horizontal-content-container{
  overflow: hidden;
  padding: 0 24px 24px 24px;
  /* display: flex; 
  flex-direction: column;
  text-align: center;
  gap: .5rem;
  */
}

.mat-stepper-horizontal:not(.mat-stepper-animating) .mat-horizontal-stepper-content.mat-horizontal-stepper-content-current{
  /* display: flex;
  flex-direction: column;
  gap: .2rem; */
}