.devsock {
  color: #d6d4d7;
  position: absolute;
}

.blur {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
}

.register {
  width: 40rem;
  height: 47rem;
  background-color: #222122;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #d6d4d7;
  border: 2px solid #d6d4d7;
  box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.9);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.form .input {
  padding: 1.2rem 0.7rem;
  width: 75%;
  outline: none;
  border: 1px solid #d6d4d7;
  border-radius: 0.4rem;
}
